<!-- <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let cancion of items">
        <div class="card">
        <img [src]="cancion.images | noImage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"> {{ cancion.name }} </h5>
            <p class="card-text">
                <span *ngFor="let artista of cancion.artists" class="badge text-bg-primary">
                    {{ artista.name }}
                </span>
            </p>
        </div>
        </div>
    </div>
</div> -->

<app-loading *ngIf="loading"></app-loading>

<div *ngIf="msgError" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p> {{ mensajeError }} </p>
</div>

<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>